<div class="displayBox">
    <h3>Candidates</h3>
    <ul>
        <li [class.selected]="crew.includes(member)" *ngFor="let member of candidates" (click)="addCrewMember(member)">{{member.name}}</li>
    </ul>
</div>
<hr>
<div class="displayBox">
    <h3>Crew <span *ngIf="crew.length === 3">Full</span></h3>
    <ol>
        <li *ngFor="let astronaut of crew" (mouseover)="selected = astronaut" (mouseout)="selected = false">{{astronaut.name}}</li>
    </ol>
    <img *ngIf="selected" src={{selected.photo}}/>
</div>

<!-- To boost your Angular skills, add one or more of the following features:

Update the CSS files to make the web page look a little less bland.

Don't allow more than two of the same item in the cargo hold.

Allow the user to remove individual items from the hold.

Complete the experiments component with features similar to the crew and equipment components.

Add other data to the astronaut objects, and center this data below the crew photo. -->

