<h3>Equipment</h3>
<ul>
  <li *ngFor="let item of equipment">
    <span *ngIf="itemBeingEdited !== item; else elseBlock">
      <span (click)="edit(item)" class="editable-text">{{item}}</span>
        <button (click)="remove(item)">remove</button>
    </span>

    <ng-template #elseBlock>
      <input #updatedEquipment (keyup.enter)="save(updatedEquipment.value)" value="{{item}}"/>
      <button (click)="save(updatedEquipment.value)">save</button>
    </ng-template>
  </li>
</ul>


<input #newItem (keyup.enter)="add(newItem.value); newItem.value = ''" type="text" placeholder="add a new item"/>
<button (click)="add(newItem.value); newItem.value = ''">Add</button>

<!-- 
<h3>Crew</h3>
<ul>
   <li *ngFor="let member of crew">

      <span *ngIf="memberBeingEdited !== member; else elseBlock">
         
         <span (click)="edit(member)" class="editable-text">{{member.name}}</span>
         <span *ngIf="member.firstMission">
            - 1st
         </span>
         <button (click)="remove(member)">remove</button>
      </span>

      <ng-template #elseBlock>
         
         <input #updatedName (keyup.enter)="save(updatedName.value, member)" value="{{member.name}}"/>
         <button (click)="save(updatedName.value, member)">save</button>
      </ng-template>

   </li>
</ul>
<input #name (keyup.enter)="add(name.value, firstMission.checked); name.value = ''" type="text"/>
<label>First mission<input #firstMission type="checkbox"/></label>
<button (click)="add(name.value, firstMission.checked); name.value = ''">Add</button> -->